---
import Request from "../components/ui/Request.astro";
import { HttpMethod } from "../types/http";
import { createArticleInput, getAllArticlesResponse } from "../data/articles";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Articles">
  <h2 class="text-3xl mt-20">Articles</h2>
  <div class="space-y-20 mt-10">
    <Request
      method={HttpMethod.GET}
      url="/api/articles"
      previewJSON={null}
      Response={getAllArticlesResponse}
    />
    <Request
      method={HttpMethod.POST}
      url="/api/articles"
      previewJSON={createArticleInput}
      Response={null}
      credentialsInclude
    />
  </div>
</Layout>
