---
import Request, { HttpMethod } from "../components/ui/Request.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2 class="text-3xl mt-20">Categories</h2>
  <div class="space-y-20 mt-10">
    <Request
      method={HttpMethod.GET}
      url="/api/categories"
      previewJSON={null}
      Response={null}
      credentialsInclude
    />
    <Request
      method={HttpMethod.POST}
      url="/api/categories"
      previewJSON={null}
      Response={null}
      credentialsInclude
    />
    <Request
      method={HttpMethod.PATCH}
      url="/api/categories/:id"
      previewJSON={null}
      Response={null}
      credentialsInclude
    />
    <Request
      method={HttpMethod.DELETE}
      url="/api/categories/:id"
      previewJSON={null}
      Response={null}
      credentialsInclude
    />
  </div>
</Layout>
